<!-- Content Heading -->
<% if (title) { %>              <!-- EJS code block to contain JS if structure to see if title var exists -->
    <h1 class="title"><%= title %></h1>       <!-- if 'title' exists, display it within an h1 -->
    <% } else {                   
    res.redirect('/')           
} %>                            <!-- redirects the response object to the default index route, to deliver the home view -->

<!-- Message -->
<%- messages() %>

<% if (errors) { %>             
    <ul class="notice">         
        <% errors.array().forEach(error => { %>     
            <% if (!error.msg.startsWith('Invalid value')) { %>    
                <li><%- error.msg %></li>
            <% } %>
        <% }) %>
    </ul>
<% } %>

<!-- Render display -->

<%- reviewDetails %>

<!--<div id="${label}-review-form-container">
    <form class="${label}-review-form forms" action="${action}" method="post"> 
        <h2 class="subtitle-centered">${label} Review</h2>
        <div class="${label}-review-date field">
            <label for="date">Date:
                <input type="text" id="date" name="date" placeholder="" title="Date" required value="${date}" readonly>
            </label>
        </div>
    
        <div class="${label}-review-text field">
            <label for="review_text">Review:
                <textarea id="review_text" name="review_text" placeholder="" required minlength="1" rows="4" ${readonly}>${review_text}</textarea>
            </label>
        </div>
        <button class="${label}-review-button button" type="submit">${label} Review</button>

        <input type="hidden" name="inv_id" value="${inv_id}">
        
        <input type="hidden" name="account_id" value="${account_id}">

    </form>
</div>`-->
