<!-- Content Heading -->
<% if (title) { %>              <!-- EJS code block to contain JS if structure to see if title var exists -->
    <h1 class="title"><%= title %></h1>       <!-- if 'title' exists, display it within an h1 -->
    <% } else {                   
    res.redirect('/')           
} %>                            <!-- redirects the response object to the default index route, to deliver the home view -->

<!-- Message -->
<%- messages() %>

<!-- Login Display -->
<!-- rather than using a utility, building the html direclty here -->

<div id="login-container">
    <form class="login-form forms" action="/login" method="post">
        <div class="email-input">
            <label for="email">Email:
                <input type="email" id="email" name="account_email" placeholder="" required>
            </label>
        </div>
        <div class="password-input field" id="pwContainer">
            <label for="pw_input">Password:
                <input type="password" name="account_password" id="pw_input" required>
            </label>
            <img id="pwBtn" src="/images/site/show_pass.svg" alt="show/hide password icon">
        </div>
        <button class="login-button buttons" type="submit">Login</button>
        <div id="signup">
            <span>No Account?</span>
            <a id="signup-link" href="/account/register">Sign Up</a>
        </div>
        
    </form>

    
</div>
