/* set color variables */
:root{
  /*--primary-color: #538083;*/
  /*--highlight1: #e8871e;*/
  /*--highlight2: #8c271e;*/
  /*--dark: black;*/
  /*--light: white;*/
  --font-sans: "Poppins", Helvetica, Sans-Serif;
  --font-clean: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* COLORS */
    --primary-color: #02010a;
    --secondary-color: rgba(5,44,111,1);
    --transparent-secondary-color:rgba(5, 44, 111, 0.9);
    --highlight-color: #FF9B42;
    --light-color:  #EBF0F0;

}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: var(--font-clean);
}

#home{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

.notice{
  list-style: none;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
}
/* HEADER */

#top-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  margin: 0;
  background-color: var(--primary-color);
  height: 10vw;
  padding: 2rem;
  width: 100%;
  border-bottom: 2px solid var(--highlight-color);
  border-left: 1px solid var(--primary-color);
}
#top-header *{
  /*color: var(--primary-color);*/
  color: var(--light-color);
  font-weight: bold;
}
.siteName *{
  font-size: clamp(1.75rem, 3vw, 4rem);
}
#tools{
  font-size: clamp(.75rem, 2vw, 2rem);
}

/* NAVIGATION */

nav ul{
  display: flex;
  flex-wrap: wrap;

  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  background-color: var(--highlight-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 0;
  margin: 3rem 0;
  font-weight: 600;
  gap: 1vw;
}
nav ul>li{
  text-align: center;
  transition: transform 0.05s ease-in;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
nav ul>li:hover{
  transform: scale(1.1);
  font-weight: bold;
}
nav ul>li>a{
  color: var(--primary-color);
  font-size: clamp(1rem, 2vw, 2rem);
}
nav ul>li>a:hover{
  cursor: pointer;
}

.title{
  font-size: clamp(2rem, 3vw, 2.5rem);
  text-align: center;
}
h1{
  font-size: clamp(1.5rem, 2vw, 2rem);
}
/*#wrapper >:not(#top-header){
  width: 90%;
  margin: 0 auto;
}*/

/* PRODUCT HIGHLIGHT */
.product-highlight-container{
  position: relative;
  /*height: auto;*/
  display: flex;
  justify-content: center;
}
.product-img{
  position: relative;
  z-index: 1;
}
.feature-card{
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, .80);
  top: 15%;
  left: 15%;
  /*transform: translateX(-100%);*/
  padding: 0 .5rem 3rem .5rem;
}
.feature-title{
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: bold;
}
.feature-card p{
  margin: 0;
  padding: .1rem 0;
  font-size: clamp(.75rem, 2vw, 1.5rem);
  font-family: var(--font-sans);
}
.feature-btn{
  position: absolute;
  width: 75%;
  padding: .5rem 0;
}

/* REVIEWS */
h2{
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin-bottom: .5rem;
}
.review-list{
  margin: 0;
  padding: 0 1.5rem;
}
.review-list-item{
  margin: 1rem 0;
}

/* Upgrades Grid */
.upgrade-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem .1rem;
  max-width: 35rem;
}
.upgrade-grid-item{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.upgrade-grid-item-img-container{
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: .5rem;
  transition: transform 0.1s ease-in;
}
.upgrade-grid-item-img-container:hover{
  transform: scale(1.01);

}


/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 2rem 0 2rem 0;
  padding: 0;
}
footer a{
  color: var(--primary-color);
  text-decoration: underline;
}



/* INVENTORY PAGES */
#inv-display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  list-style-type: none;
  /*background-color: var(--secondary-color);*/
  background-color: var(--transparent-secondary-color);
  margin: 0 auto;
  border-radius: 4px;
  position: relative;
  padding: 1rem 0;
}
#inv-display li{
  flex: 1;
  width: max-content;
  max-width: 50%;
  margin: 3rem;
  padding: 1rem;
  min-width: min-content;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  background-color: var(--light-color);
}
#inv-display a{
  color: var(--primary-color);
}
#inv-display img:hover{
  transform: scale(1.02);
  transition: transform .2s ease-in-out;
}

/* DETAILS Page */
.detail-container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 3rem auto;
  max-width: 95%;

}
.detail-img-card{
  background-color: var(--primary-color);
  border-radius: 4px;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-img-card img{
  width: 100%;
  height: auto;
  display: block;
}

.detail-info-card{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.detail-info-header{
  background-color: var(--primary-color);
  border-radius: 4px;
  color: var(--highlight-color);
  font-weight: bold;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  text-wrap: nowrap;
}

.detail-specs{
  display: flex;
  flex-direction: column;
}
.detail-specs span{
  font-weight: bold;
  padding-right: .75rem;
}
.detail-specs-miles, .detail-specs-color, .detail-desc{
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
}



/* Login/Register Page */
.login-title{
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  text-align: center;
}
.forms{
  background-color:var(--transparent-secondary-color);
  color: var(--light-color);
  width: max-content;
  margin: 0 auto;
  padding: 3rem 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  gap: 2rem;
  border-radius: 4px;
  align-items: stretch;
}
.forms label{
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

input, #inv_description, select{
  display: block;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: .5rem;
  width: 100%;
  font-size: 1.25rem;
  /*box-sizing: border-box;*/
  margin: 0;
}
input:required:invalid, #inv_description:required:invalid, select:required:invalid{
  border-left: 6px solid #B22222
}
input:required:valid, #inv_description:required:valid, select:required:valid{
  border-left: 6px solid green;
}
#inv_description{
  resize: vertical;
}


button{
  font-size: clamp(1rem, 1.5vw, 2rem);
  padding: .25rem 2rem;
  width: max-content;
  margin: 0 auto;
  border-radius: 20px;
}
button:hover{
  cursor: pointer;
}
button:active{
  background-color: var(--highlight-color);
}
#signup{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}
#signup a{
  color: var(--highlight-color);
  font-weight: 700;
}

#pwContainer{
  position: relative;
}
#pwBtn{
  position: absolute;
  top: 50%;
  right: -30px;
  /*transform: translateY(-50%);*/
  height: 20px;
  width: auto;
  z-index: 10;
}

/* Management Page */
.links-container{
  display: flex;
  flex-direction: column;
  background-color: var(--transparent-secondary-color);
  width: max-content;
  margin: 3rem auto;
  border-radius: 8px;
  padding: 3rem;
}
.links-container a{
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--light-color);
  font-weight: 700;
}
.links-container a:hover{
  text-decoration: underline;
  transform: scale(1.02);

}


@media screen and (min-width: 800px) {
  
  #home{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .home-highlight-card{
    grid-column: 1/-1;
  }
  .home-review-card{
    grid-column: 2/-1;
    grid-row: 2/3;
  }
  .home-upgrade-card{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  /* Set background image */
  body{
    position: relative;
    margin: 0;
    padding: 0;
    background-repeat: repeat; 

  }
  body::before {
    content: "";
    position: absolute;
    top: -10vw;
    left: -10vw;
    width: calc(100% + 20vw); 
    height: calc(100% + 20vw); 
    background-image: url('/images/site/small_check_mod.jpg');
    background-size: contain;
    background-repeat: repeat; 
    opacity: 0.85;
    z-index: -1;
  }

  #wrapper{
    border: 1px solid var(--primary-color);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /*padding: 1rem;*/
    overflow: hidden;
    width: 80%;
    margin: 1rem auto;
  }
  #wrapper >:not(#top-header){
    padding: 0 2rem;
  }
  .feature-card{
    top: 15%
  }
  .feature-title{
    font-size: clamp(1.25rem, 2vw, 2rem);
  }
  .feature-card p{
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
  .detail-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .detail-desc{
    grid-column: 1/-1;
  }
  .forms{
    width: 80%;
    padding: 3rem 4rem;
  }
  .field, #inv-description-input{
    width: 80%;
    max-width: 25rem;
    margin: 0 auto;
  }

}