<!-- Content Heading -->
<% if (title) { %>              <!-- EJS code block to contain JS if structure to see if title var exists -->
    <h1 class="title"><%= title %></h1>       <!-- if 'title' exists, display it within an h1 -->
    <% } else {                   
    res.redirect('/')           
} %>                            <!-- redirects the response object to the default index route, to deliver the home view -->

<!-- Message -->
<%- messages() %>

<!-- Details Display -->
<%- links %> 


<h2 id="managementSubtitle">Manage Inventory</h2>
<div class="manage-container links-container">
    <p>Select a classification</p>
    
    <%- classSelect %>
    <table id="inventoryDisplay"></table>
    <!-- msg if js is disabled -->
</div>
<noscript>JavaScript must be enabled to use this page.</noscript>



<script src="../../js/inventory.js"></script>
